<div id="main">
    <div class="container clearfix">
        <section class="slider">
            <div class="flexslider carousel">
                <ul class="slides">
{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order == "1" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order === "2" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order === "3" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order === "4" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order === "5" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order === "6" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order === "7" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order === "8" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order === "9" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order === "10" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order === "11" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order === "12" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order === "13" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order === "14" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ pages:listing from="/portfolio*" }}{{ gallery }}{{ if feature === "1" && feature_order === "15" }}
{{ theme:partial src="featured-gallery-li" use_context = "true" }}
{{ endif }}{{ /gallery }}{{ /pages:listing }}{{ killwhite }}{{ /killwhite }}                </ul>
            </div>
        </section>
    </div>
</div>