{{ if feature === "1" && feature_order == "1" }}
                    <li itemscope itemtype="http://schema.org/Photograph"><img itemprop="image" src="{{ photo_large }}" alt="{{ photo_alt }}" />
                        <meta itemprop="creator" content="Gretchen Kelley">
                        <meta itemprop="copyrightHolder" content="Gretchen Kelley">
                        <meta itemprop="copyrightYear" content="{{ current_date format="Y" }}">
                    </li>
{{ else }}
                    <li itemscope itemtype="http://schema.org/Photograph"><img itemprop="image" src="" data-original="{{ photo_large }}" alt="{{ photo_alt }}" />
                        <meta itemprop="creator" content="Gretchen Kelley">
                        <meta itemprop="copyrightHolder" content="Gretchen Kelley">
                        <meta itemprop="copyrightYear" content="{{ current_date format="Y" }}">
                    </li>
{{ /if }}