.input-limited .limited-container div:nth-child(1) {
  display: inline !important;
}

div.limited-container ~ small.below {
    margin-top: -15px;
    margin-bottom: 15px;
}

.wChar {
  position: absolute;
  background: #bf1d2d;
  color: white;
  border-radius: 10px;
  padding: 10px;
  top: -45px !important;
}

